<div class="container">
  <div class="foot">
    <div class="foot-acks col-xs-9">
      <div><h4>dati.cobis.to.it</h4></div>
      <br/>
      <div><a href="https://creativecommons.org/licenses/by/4.0/"><img src="/img/cc-by.png" alt="cc-by 4.0" height="23px"></a>
      <h6 style="display:inline-block; margin-bottom:0;">Salvo ove diversamente indicato, i contenuti di questo sito sono rilasciati secondo i termini della licenza
        <a href="https://creativecommons.org/licenses/by/4.0/">CC Attribuzione 4.0</a></h6></div>
      <div>
        <h6>Made with love and linked data by
          <a href="http://synapta.it/">
            <img src="/img/synapta-logo-dark-h.svg" class="footer-logo" height="20px" style="margin-right:10px;"/>
          </a>realizzato con il contributo di
          <a href="http://www.regione.piemonte.it/">
            <img src="/img/regione_g.gif" class="footer-logo" height="25px"/>
          </a>
          e del
          <a href="/about" title="Comitato per la Gestione del Fondo per lo Sviluppo della Ricerca della Formazione nel settore delle ICT">Comitato ICT</a>.
        </h6>
      </div>
    </div>
  </div>
</div>
