<div id="wok-footer" class="clear-fix" style="height: 150px;">
  <div>
    <p class="address">
      Via Accademia delle Scienze, 6<br />
      <em>Uffici</em>: via Maria Vittoria, 3 <span class="mobile inline">– </span><br class="desktop">
      10123, Torino<br>
      T +39 011.562.0047 / +39 011.532.619<br>
      P.IVA 07526890012<br>
      Cod. fiscale: 80076610015<br>
    </p>
    <p class="copy">
      Le immagini sono disponibili secondo la licenza  <a href="https://creativecommons.org/licenses/by/4.0/deed.it">CC BY 4.0</a>, salvo dove diversamente specificato.
    </p>
  </div>
  <div class="contacts"><a class="link" href="https://accademiadellescienze.it/accademia/lo-staff">Contatti</a></div>
  <div class="social"><span>Seguici su  </span><a href="https://www.facebook.com/accademiadellescienzetorino.it?fref=ts"><i class="icon icon-fb"></i></a><a href="https://www.youtube.com/channel/UCALqaHwffcRsop40vyIr-yA"><i class="icon icon-youtube"></i></a></div>
</div>
<script type="application/json" id="wp-data">
  {
    "page_id": 193,
    "bindings": {
      "PAGE": {
        "id": "193",
        "type": "wp_page",
        "props": {
          "home1": {
            "mode": "ref.page",
            "prop": "home1",
            "slot": "#home1"
          },
          "home2": {
            "mode": "ref.page",
            "prop": "home2",
            "slot": "#home2"
          },
          "box3_image1": {
            "mode": "ref.page",
            "prop": "box3_image1",
            "slot": "#box3_image1"
          },
          "box3_image2": {
            "mode": "ref.page",
            "prop": "box3_image2",
            "slot": "#box3_image2"
          },
          "box3_image3": {
            "mode": "ref.page",
            "prop": "box3_image3",
            "slot": "#box3_image3"
          }
        }
      }
    }
  }
</script>
