<div id="wok-header">
  <div class="strip bg-blue"></div><a class="home-link" href="https://www.accademiadellescienze.it/home"></a>
  <div class="mobile-arrow toggle" data-action="toggle-menu" style=""><span class="arrow"></span></div>
  <ul id="main-menu" class="menu inline">
    <li><a href="https://www.accademiadellescienze.it/home" title="Home">Home</a></li>
    <li><a href="https://www.accademiadellescienze.it/accademia" title="Accademia delle Scienze di Torino">L'Accademia</a></li>
    <li><a href="https://www.accademiadellescienze.it/biblioteca_e_archivio" title="Biblioteca e Archivio">Biblioteca e Archivio</a></li>
    <li><a href="https://www.accademiadellescienze.it/attivita" title="Attività">Attività</a></li>
    <li><a href="https://www.accademiadellescienze.it/didattica" title="Didattica">Didattica</a></li>
    <li><a href="https://www.accademiadellescienze.it/storiaescienza" title="Storia e Scienza">Storia e Scienza</a></li>
    <li class="calendar-menu"><a href="https://www.accademiadellescienze.it/calendario" title="Calendario">Calendario</a></li>
    <li class="members-link"><a href="https://www.accademiadellescienze.it/access" title="Area soci">Area soci</a></li>
    <li class="contacts"><a href="https://www.accademiadellescienze.it/accademia/lo-staff">Contatti</a></li>
  </ul>
</div>
