<nav class="white">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img src="/img/logo.png" class="logo" /></a>
    <ul id="menu" class="right hide-on-med-and-down">
      <li><a href="/" class="nodeca">Home</a></li>
      <li><a href="/about" class="nodeca">About</a></li>
      <li><a href="https://demo.cobis.to.it" class="nodeca">CoBis</a></li>
      <li><a href="/biblioteche" class="nodeca">Biblioteche</a></li>
      <li><a href="/opere" class="nodeca">Opere</a></li>
      <li><a href="/autori" class="nodeca">Autori</a></li>
      <li><a href="/percorsi" class="nodeca">Percorsi</a></li>
    </ul>
  </div>
</nav>
